/* Opciones del tema */

/* Fuentes */
$fuentePrincipal: "Poppins", sans-serif;
$fuenteSecundaria: "DM Sans", sans-serif;

/* Colores */
$colorPrincipal: #4C700C;
$colorSecundario: #FF635D;
$colorTerciario: #e0be00;

/* Colores hovers */
$colorSecundarioHover: #ff362e;
$colorTerciarioHover: #e0be00;